body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display:flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    margin: 0;
    background-color: rgb(107, 103, 92);
    cursor: pointer;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23000' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><circle cx='12' cy='12' r='10'/></svg>") 12 12, auto;
}

button, a {
    color: #000;
    transition: color 0.3s ease;
}

button:hover, a:hover {
    color: #ff9100;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none' stroke='none'><circle cx='8' cy='8' r='6' fill='none'/></svg>") 8 8, auto;
}

button {
    border: none;
    padding: 10px 5px;
    font-size: 20px;
    position: relative;
    background: transparent;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: all 0.7s;
    overflow: hidden;
    border-radius: 100px;
}

.button-container {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }

.hover-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

.lyrics {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    max-height: 80vh;
    overflow-y: auto;
}

.lyrics {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.lyrics::-webkit-scrollbar {
    display: none;
}

.bold-text {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    transition: font-weight 0.3s ease;
}

.bold-text:hover {
    color:rgb(255, 255, 255);
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none' stroke='none'><circle cx='8' cy='8' r='6' fill='none'/></svg>") 8 8, auto;
}

/*1*/
.image-overlay.i {
    position: fixed;
    bottom: 50%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.i {
    transform: translateY(0) translateX(0);
    opacity: 1;
    visibility: visible;
}

/*2*/
.image-overlay.love {
    position: fixed;
    bottom: -100%;
    left: 70%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: bottom 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.love {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

/*3*/
.image-overlay.thinking {
    position: fixed;
    bottom: 50%;
    right: 0; 
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.thinking {
    transform: translateY(0) translateX(0);
    opacity: 1;
    visibility: visible;
}

/*4*/
.image-overlay.bout {
    position: fixed;
    bottom: -100%;
    left: 30%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: bottom 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.bout {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

/*5*/
.image-overlay.you {
    position: fixed;
    top: 0; 
    right: 10%;
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.you {
    transform: translate(-50%, 0); 
    opacity: 1;
    visibility: visible;
}

/*6*/
.image-overlay.but {
    position: fixed;
    top: 0; 
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.but {
    transform: translate(-50%, 0); 
    opacity: 1;
    visibility: visible;
}

/*7*/
.image-overlay.not {
    position: fixed;
    top: 0; 
    left: 20%;
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.not {
    transform: translate(-50%, 0); 
    opacity: 1;
    visibility: visible;
}

/*8*/
.image-overlay.every {
    position: fixed;
    top: 50%;
    right: 0; 
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.every {
    transform: translateY(0) translateX(0);
    opacity: 1;
    visibility: visible;
}

/*9*/
.image-overlay.stays {
    position: fixed;
    bottom: -100%;
    left: 30%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: bottom 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.stays {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}


/*10*/
.image-overlay.like {
    position: fixed;
    bottom: -100%;
    left: 70%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: bottom 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.like {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

/*11*/
.image-overlay.mine {
    position: fixed;
    top: 50%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.mine {
    transform: translateY(0) translateX(0);
    opacity: 1;
    visibility: visible;
}

/*image*/
.image-overlay img {
    transform: scale(2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 200px;
}


/* button hover effect */
#iButton:hover {
    color:rgb(143, 143, 143);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}

#loveButton:hover {
    color:rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}

#thinkingButton:hover {
    color:rgb(65, 255, 208);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}

#boutButton:hover {
    color:rgb(255, 89, 12);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}
#youButton:hover {
    color:rgb(86, 235, 255);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}

#butButton:hover {
    color:rgb(99, 43, 43);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}

#notButton:hover {
    color:rgb(255, 0, 0);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}

#everyButton:hover {
    color:rgb(152, 255, 121);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}
#staysButton:hover {
    color:rgb(255, 196, 196);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}

#likeButton:hover {
    color:rgb(255, 87, 87);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}

#mineButton:hover {
    color:rgb(139, 131, 255);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}

#goBackButton {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#playButton1 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: fixed;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#playButton2 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: fixed;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#playButton3 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: fixed;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#playButton4 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: fixed;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#playButton5 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: fixed;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#playButton6 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: fixed;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#playButton7 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: fixed;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#playButton8 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: fixed;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#playButton9 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: fixed;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#playButton10 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: fixed;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#playButton11 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: fixed;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}