body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display:flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    margin: 0;
    background-color: rgb(107, 103, 92);
    cursor: pointer;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%23000' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><circle cx='12' cy='12' r='10'/></svg>") 12 12, auto;
}

button, a {
    color: #000;
    transition: color 0.3s ease;
}

button:hover, a:hover {
    color: #ffffff;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none' stroke='none'><circle cx='8' cy='8' r='6' fill='none'/></svg>") 8 8, auto;
}

button {
    border: none;
    padding: 10px 5px;
    font-size: 20px;
    position: relative;
    background: transparent;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: all 0.7s;
    overflow: hidden;
    border-radius: 100px;
}

.button-container {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }


.hover-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }


.lyrics {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
    max-height: 50vh;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
}

.lyrics {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.lyrics::-webkit-scrollbar {
    display: none;
}


.bold-text {
    color:rgb(255, 255, 255);
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    transition: font-weight 0.3s ease;
}

.bold-text:hover {
    color:rgb(0, 0, 0);
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none' stroke='none'><circle cx='8' cy='8' r='6' fill='none'/></svg>") 8 8, auto;
}

/*1*/
.image-overlay.i {
    position: fixed;
    top: 0%; 
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.i {
    transform: translate(-50%, 0); 
    opacity: 1;
    visibility: visible;
}


/*2*/
.image-overlay.love {
    position: fixed;
    top: 0%; 
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.love {
    transform: translate(-50%, 0); 
    opacity: 1;
    visibility: visible;
}


/*3*/
.image-overlay.thinking {
    position: fixed;
    top: 0%;  
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.thinking {
    transform: translate(-50%, 0); 
    opacity: 1;
    visibility: visible;
}

/*4*/
.image-overlay.bout {
    position: fixed;
    top: 0%; 
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.bout {
    transform: translate(-50%, 0); 
    opacity: 1;
    visibility: visible;
}

/*5*/
.image-overlay.you {
    position: fixed;
    top: 0%; 
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.you {
    transform: translate(-50%, 0); 
    opacity: 1;
    visibility: visible;
}

/*6*/
.image-overlay.but {
    position: fixed;
    top: 0%;  
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.but {
    transform: translate(-50%, 0); 
    opacity: 1;
    visibility: visible;
}

/*7*/
.image-overlay.not {
    position: fixed;
    top: 0%; 
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.not {
    transform: translate(-50%, 0); 
    opacity: 1;
    visibility: visible;
}

/*8*/
.image-overlay.every {
    position: fixed;
    top: 0%; 
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.every {
    transform: translate(-50%, 0); 
    opacity: 1;
    visibility: visible;
}

/*9*/
.image-overlay.stays {
    position: fixed;
    top: 0%; 
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.stays {
    transform: translate(-50%, 0); 
    opacity: 1;
    visibility: visible;
}


/*10*/
.image-overlay.like {
    position: fixed;
    top: 0%;  
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.like {
    transform: translate(-50%, 0); 
    opacity: 1;
    visibility: visible;
}

/*11*/
.image-overlay.mine {
    position: fixed;
    top: 0%; 
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.button-container:hover .image-overlay.mine {
    transform: translate(-50%, 0); 
    opacity: 1;
    visibility: visible;
}


/*image*/
.image-overlay img {
    transform: scale(2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 200px;
}



/* button hover effect */
#iButton:hover {
    color:rgb(143, 143, 143);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}

#loveButton:hover {
    color:rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}

#thinkingButton:hover {
    color:rgb(65, 255, 208);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}

#boutButton:hover {
    color:rgb(255, 89, 12);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}
#youButton:hover {
    color:rgb(86, 235, 255);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}

#butButton:hover {
    color:rgb(99, 43, 43);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}

#notButton:hover {
    color:rgb(255, 0, 0);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}

#everyButton:hover {
    color:rgb(152, 255, 121);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}
#staysButton:hover {
    color:rgb(255, 196, 196);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}

#likeButton:hover {
    color:rgb(255, 87, 87);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}

#mineButton:hover {
    color:rgb(139, 131, 255);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    Font-style: normal;
    font-size: 30px;
}

#goBackButton {
    display: block; /* Show the button */
    font-size: 24px; /* Adjust font size as needed */
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.title1 {
    display: none;
    font-size: 100px;
    position: fixed;
    text-align: right;
    bottom: 20%;
    left: 20%;
    transform: translateX(0);
}

.title1 .color:hover {
    color: rgb(255, 255, 255);
}

.title2 {
    display: none;
    font-size: 100px;
    position: fixed;
    text-align: right;
    bottom: 20%;
    left: 20%;
    transform: translateX(0);
}

.title2 .color:hover {
    color: rgb(255, 255, 255);
}

.title3 {
    display: none;
    font-size: 100px;
    position: fixed;
    text-align: right;
    bottom: 20%;
    left: 20%;
    transform: translateX(0);
}

.title3 .color:hover {
    color: rgb(255, 255, 255);
}

.title4 {
    display: none;
    font-size: 100px;
    position: fixed;
    text-align: right;
    bottom: 20%;
    left: 20%;
    transform: translateX(0);
}

.title4 .color:hover {
    color: rgb(255, 255, 255);
}

.title5 {
    display: none;
    font-size: 100px;
    position: fixed;
    text-align: right;
    bottom: 20%;
    left: 20%;
    transform: translateX(0);
}

.title5 .color:hover {
    color: rgb(255, 255, 255);
}

.title6 {
    display: none;
    font-size: 100px;
    position: fixed;
    text-align: right;
    bottom: 20%;
    left: 20%;
    transform: translateX(0);
}

.title6 .color:hover {
    color: rgb(255, 255, 255);
}

.title7 {
    display: none;
    font-size: 100px;
    position: fixed;
    text-align: right;
    bottom: 20%;
    left: 20%;
    transform: translateX(0);
}

.title7 .color:hover {
    color: rgb(255, 255, 255);
}

.title8 {
    display: none;
    font-size: 100px;
    position: fixed;
    text-align: right;
    bottom: 20%;
    left: 20%;
    transform: translateX(0);
}

.title8 .color:hover {
    color: rgb(255, 255, 255);
}

.title9 {
    display: none;
    font-size: 100px;
    position: fixed;
    text-align: right;
    bottom: 20%;
    left: 20%;
    transform: translateX(0);
}

.title9 .color:hover {
    color: rgb(255, 255, 255);
}

.title10 {
    display: none;
    font-size: 100px;
    position: fixed;
    text-align: right;
    bottom: 20%;
    left: 20%;
    transform: translateX(0);
}

.title10 .color:hover {
    color: rgb(255, 255, 255);
}

.title11 {
    display: none;
    font-size: 100px;
    position: fixed;
    text-align: right;
    bottom: 20%;
    left: 20%;
    transform: translateX(0);
}

.title11 .color:hover {
    color: rgb(255, 255, 255);
}